In [ ]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Pandas

Series, one dimensional data structure.

In [ ]:
s = pd.Series([2, 4, -12, 0, 2])

In [ ]:
s

In [ ]:
s.shape

In [ ]:
s.dtype

In [ ]:
# converts to a numpy array
s.values

In [ ]:
#indexing
s[3]

In [ ]:
# slicing in python works here
s[1:3]

In [ ]:
s[1:]

In [ ]:
# elementwise
s * 2

In [ ]:
# elementwise
s > 0

In [ ]:
# boolean indexing, select the ones where the expression is true
s[s > 0]

In [ ]:
s.sum()

In [ ]:
s.mean()

In [ ]:
s.unique()

Dataframe a bit like a matrix

In [ ]:
df = pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})

In [ ]:
df

In [ ]:
# read from a csv file
df = pd.read_csv('datasets/dataset_corkA.csv')

In [37]:
df.shape

(207, 9)

In [38]:
df.dtypes

flarea      float64
type         object
bdrms         int64
bthrms        int64
floors        int64
devment      object
ber          object
location     object
price         int64
dtype: object

In [39]:
df.columns

Index(['flarea', 'type', 'bdrms', 'bthrms', 'floors', 'devment', 'ber',
       'location', 'price'],
      dtype='object')

In [40]:
df.describe(include='all')

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
count,207.000000,207,207.000000,207.000000,207.000000,207,207,207,207.000000
unique,NaN,4,NaN,NaN,NaN,2,12,36,NaN
top,NaN,Semi-detached,NaN,NaN,NaN,SecondHand,G,CityCentre,NaN
freq,NaN,65,NaN,NaN,NaN,204,25,40,NaN
mean,128.094686,NaN,3.434783,2.106280,1.826087,NaN,NaN,NaN,274.724638
std,73.970582,NaN,1.232390,1.185802,0.379954,NaN,NaN,NaN,171.756507
min,41.800000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,55.000000
25%,82.650000,NaN,3.000000,1.000000,2.000000,NaN,NaN,NaN,165.000000
50%,106.000000,NaN,3.000000,2.000000,2.000000,NaN,NaN,NaN,225.000000
75%,153.650000,NaN,4.000000,3.000000,2.000000,NaN,NaN,NaN,327.500000
max,497.000000,NaN,10.000000,10.000000,2.000000,NaN,NaN,NaN,995.000000

In [43]:
# pulling out a column will give us a series
df['type']

0           Detached
1           Detached
2      Semi-detached
3      Semi-detached
4      Semi-detached
5           Detached
6      Semi-detached
7      Semi-detached
8           Detached
9          Apartment
10     Semi-detached
11          Terraced
12     Semi-detached
13          Detached
14          Detached
15          Detached
16          Terraced
17          Terraced
18          Terraced
19     Semi-detached
20          Detached
21         Apartment
22          Detached
23     Semi-detached
24     Semi-detached
25     Semi-detached
26          Terraced
27          Terraced
28         Apartment
29         Apartment
           ...
177         Detached
178         Detached
179         Terraced
180    Semi-detached
181    Semi-detached
182         Detached
183    Semi-detached
184         Terraced
185        Apartment
186         Detached
187         Detached
188         Detached
189         Detached
190    Semi-detached
191         Detached
192         Detached
193         Detached
194        Apartment
195         Terraced
196    Semi-detached
197         Detached
198         Detached
199         Detached
200    Semi-detached
201    Semi-detached
202    Semi-detached
203    Semi-detached
204         Detached
205    Semi-detached
206    Semi-detached
Name: type, Length: 207, dtype: object

In [47]:
# show us all the non-duplicate values in the type column
df['type'].unique()

array(['Detached', 'Semi-detached', 'Apartment', 'Terraced'], dtype=object)

In [52]:
# selecting a list of features will give a dataframe
df[['type', 'location']]

              type       location
0         Detached   Carrigrohane
1         Detached       Glanmire
2    Semi-detached       Glanmire
3    Semi-detached        Douglas
4    Semi-detached        Douglas
5         Detached        Douglas
6    Semi-detached     CityCentre
7    Semi-detached  Silversprings
8         Detached    PassageWest
9        Apartment    Ballinlough
10   Semi-detached        Douglas
11        Terraced      Farranree
12   Semi-detached       Glanmire
13        Detached       Glanmire
14        Detached     Rochestown
15        Detached     Inniscarra
16        Terraced    PassageWest
17        Terraced     CityCentre
18        Terraced     CityCentre
19   Semi-detached       Glanmire
20        Detached      Waterfall
21       Apartment        Douglas
22        Detached        Douglas
23   Semi-detached      Blackrock
24   Semi-detached        Douglas
25   Semi-detached        Douglas
26        Terraced        Douglas
27        Terraced     CityCentre
28       Apartment     CityCentre
29       Apartment      Blackrock
..             ...            ...
177       Detached      Waterfall
178       Detached       Glanmire
179       Terraced     Rochestown
180  Semi-detached    Ballinlough
181  Semi-detached        Douglas
182       Detached        Douglas
183  Semi-detached     CityCentre
184       Terraced       Glanmire
185      Apartment  VictoriaCross
186       Detached    Bishopstown
187       Detached     Rochestown
188       Detached    Bishopstown
189       Detached       Glanmire
190  Semi-detached      Farranree
191       Detached     Inniscarra
192       Detached     Montenotte
193       Detached          Ovens
194      Apartment     Rochestown
195       Terraced     CityCentre
196  Semi-detached     CityCentre
197       Detached     Rochestown
198       Detached        Banduff
199       Detached     Rochestown
200  Semi-detached  Silversprings
201  Semi-detached   Ballintemple
202  Semi-detached       Mayfield
203  Semi-detached      Blackpool
204       Detached    PassageWest
205  Semi-detached  Gurranabraher
206  Semi-detached        Douglas

[207 rows x 2 columns]

In [54]:
# pull out a row from the dataframe
df.iloc[4]
# df.ix[4] deprecated

flarea              118.7
type        Semi-detached
bdrms                   3
bthrms                  2
floors                  2
devment        SecondHand
ber                    E2
location          Douglas
price                 380
Name: 4, dtype: object

In [55]:
df['type'] == 'Apartment'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27     False
28      True
29      True
       ...
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185     True
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194     True
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
Name: type, Length: 207, dtype: bool

In [56]:
df[df['type'] == 'Apartment']

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
9,48.3,Apartment,1,1,1,SecondHand,C1,Ballinlough,125
21,83.6,Apartment,2,2,1,SecondHand,D2,Douglas,198
28,65.0,Apartment,2,2,1,SecondHand,B2,CityCentre,150
29,90.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
31,117.0,Apartment,2,3,2,SecondHand,B3,Rochestown,225
47,66.0,Apartment,2,1,1,SecondHand,E1,Wilton,135
50,57.0,Apartment,2,1,1,SecondHand,D1,CityCentre,140
52,67.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
56,60.0,Apartment,2,1,1,SecondHand,C1,CityCentre,155
65,70.0,Apartment,2,1,1,SecondHand,B2,Blackrock,130
66,51.1,Apartment,1,1,1,SecondHand,C1,Blackrock,95
67,65.0,Apartment,2,1,1,SecondHand,E1,Blackpool,70
78,79.0,Apartment,2,2,1,SecondHand,B3,CityCentre,135
86,65.0,Apartment,2,1,1,SecondHand,B2,PassageWest,115
90,65.4,Apartment,2,2,1,SecondHand,B3,CityCentre,140
93,109.0,Apartment,3,3,2,SecondHand,B3,Blackrock,180
105,128.9,Apartment,3,3,2,SecondHand,B3,Rochestown,250
107,43.2,Apartment,2,1,1,SecondHand,E2,Blackpool,130
116,41.8,Apartment,1,1,1,SecondHand,E1,CityCentre,100
124,70.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
126,65.0,Apartment,2,2,1,SecondHand,E1,PassageWest,95
143,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
148,61.2,Apartment,2,1,1,SecondHand,D1,CityCentre,120
156,69.7,Apartment,2,1,1,SecondHand,E2,Blackrock,175
166,44.0,Apartment,1,1,1,SecondHand,B3,CityCentre,105
185,66.0,Apartment,2,2,1,SecondHand,B3,VictoriaCross,99
194,65.0,Apartment,2,2,1,SecondHand,D1,Rochestown,150

In [57]:
# & | ~ -> and or not
# extract apartments or teraced houses
df[(df['type'] == 'Apartment') | (df['type'] == 'Terraced')]

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
9,48.3,Apartment,1,1,1,SecondHand,C1,Ballinlough,125
11,102.0,Terraced,3,1,2,SecondHand,G,Farranree,149
16,101.9,Terraced,3,3,2,SecondHand,B3,PassageWest,180
17,60.0,Terraced,3,1,2,SecondHand,F,CityCentre,140
18,81.8,Terraced,4,2,2,SecondHand,C3,CityCentre,135
21,83.6,Apartment,2,2,1,SecondHand,D2,Douglas,198
26,66.9,Terraced,3,1,2,SecondHand,D2,Douglas,155
27,78.0,Terraced,3,1,2,SecondHand,E1,CityCentre,250
28,65.0,Apartment,2,2,1,SecondHand,B2,CityCentre,150
29,90.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
30,120.0,Terraced,4,2,2,SecondHand,D2,CityCentre,100
31,117.0,Apartment,2,3,2,SecondHand,B3,Rochestown,225
36,69.7,Terraced,3,1,2,SecondHand,G,CityCentre,195
42,92.2,Terraced,3,1,2,SecondHand,C1,Mayfield,149
43,60.0,Terraced,1,1,2,SecondHand,F,CityCentre,90
46,124.0,Terraced,4,1,2,SecondHand,D2,Blackrock,275
47,66.0,Apartment,2,1,1,SecondHand,E1,Wilton,135
50,57.0,Apartment,2,1,1,SecondHand,D1,CityCentre,140
52,67.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
53,141.0,Terraced,4,3,2,SecondHand,B2,Blackrock,325
56,60.0,Apartment,2,1,1,SecondHand,C1,CityCentre,155
58,58.0,Terraced,3,1,2,SecondHand,G,CityCentre,160
62,78.5,Terraced,3,1,2,SecondHand,D1,Togher,155
65,70.0,Apartment,2,1,1,SecondHand,B2,Blackrock,130
66,51.1,Apartment,1,1,1,SecondHand,C1,Blackrock,95
67,65.0,Apartment,2,1,1,SecondHand,E1,Blackpool,70
68,93.9,Terraced,2,2,2,SecondHand,E1,CityCentre,115
70,79.0,Terraced,2,2,2,SecondHand,B3,Douglas,225
72,88.0,Terraced,3,3,2,SecondHand,C3,Glanmire,175
75,85.0,Terraced,4,1,2,SecondHand,D2,TurnersCross,120
...,...,...,...,...,...,...,...,...,...
112,98.0,Terraced,3,2,2,SecondHand,C3,Rochestown,225
116,41.8,Apartment,1,1,1,SecondHand,E1,CityCentre,100
118,58.3,Terraced,2,2,2,SecondHand,B1,CityCentre,165
119,110.9,Terraced,3,3,2,SecondHand,C1,Donnybrook,230
124,70.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
125,69.7,Terraced,3,1,2,SecondHand,G,Farranree,80
126,65.0,Apartment,2,2,1,SecondHand,E1,PassageWest,95
131,105.0,Terraced,4,3,2,SecondHand,G,CityCentre,195
132,88.0,Terraced,3,2,2,SecondHand,C3,CityCentre,185
135,74.3,Terraced,3,1,2,SecondHand,G,CityCentre,230
142,104.8,Terraced,4,3,2,SecondHand,D1,CityCentre,169
143,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
148,61.2,Apartment,2,1,1,SecondHand,D1,CityCentre,120
149,65.0,Terraced,3,1,2,SecondHand,F,TheLough,135
153,95.0,Terraced,4,1,2,SecondHand,E1,Blackpool,150
156,69.7,Apartment,2,1,1,SecondHand,E2,Blackrock,175
159,204.4,Terraced,8,5,2,SecondHand,G,CityCentre,245
161,50.0,Terraced,2,1,2,SecondHand,E2,Blackpool,70
162,185.8,Terraced,8,5,2,SecondHand,G,StLukes,225
164,77.8,Terraced,3,2,2,New,C3,Glasheen,220
166,44.0,Apartment,1,1,1,SecondHand,B3,CityCentre,105
169,51.0,Terraced,3,1,2,SecondHand,G,StLukes,55
173,158.0,Terraced,4,2,2,SecondHand,F,Blackrock,250
174,185.8,Terraced,4,1,2,SecondHand,E2,CityCentre,280
175,60.4,Terraced,2,1,2,SecondHand,D1,CityCentre,120
179,92.9,Terraced,3,3,2,SecondHand,C3,Rochestown,195
184,88.3,Terraced,3,2,2,SecondHand,C2,Glanmire,193
185,66.0,Apartment,2,2,1,SecondHand,B3,VictoriaCross,99
194,65.0,Apartment,2,2,1,SecondHand,D1,Rochestown,150
195,93.0,Terraced,3,1,2,SecondHand,G,CityCentre,220

In [66]:
# how many apartments
df[df['type'] == 'Apartment'].shape
len(df[df['type'] == 'Apartment'])
# fastest because we don't need to extract the actual columns
(df['type'] == 'Apartment').sum()

27

In [68]:
m, n = df.shape

In [69]:
# permuation from 0 to m
np.random.permutation(m)

array([191,  24,  60,  33,  73,  19,  56, 181,  17,  28,  67, 121, 178,
         5,  44,  52, 170,  50,  34,  20, 164,  18,  87,  57,  45,  74,
        79, 167,  43,  53,  58, 117,  35,  46, 172,  99, 169,   7, 183,
       113,  23, 163, 158, 203, 195, 118, 125, 103, 175, 149,  77, 189,
        16, 131, 101, 116,  42, 157, 144,  71, 188, 143,  95,  92, 165,
       186, 161, 102, 148, 206,  98, 198, 162,  61,  69, 153,  91, 104,
         4,  37,  26, 156,  32,  15,  62,   1,  96,  75,  97,  39, 107,
       205, 129, 105,  30,   8, 120, 176, 135,  72,  51,  27, 196,  14,
       127, 151, 114, 192, 180, 138, 124, 166, 155, 204, 146,  88, 184,
       137, 134,  93, 185,  41, 194, 160, 201,  40, 133, 139,  11, 126,
       123,  81, 177,  55,   2,  10, 168, 197, 174,  90,   0, 141, 152,
       140,  82, 111, 112, 108, 136, 109, 200,  83, 179,   3, 147, 128,
       173, 106, 159,  94, 202,  59, 115,  25, 145,  70,  38,  31,  64,
        13,  47,   9,  76, 150,  48,  78, 193,  21, 154,  84, 132, 190,
        63, 130, 199,  12,  68,  85, 142, 100, 182,  80,  36,  86, 119,
        54,  29, 171, 110,  89,   6, 187,  22,  66,  65,  49, 122])

In [73]:
# shuffle (reorder) randomly the dataset
df = df.take(np.random.permutation(m))

In [74]:
#don't forget if you don't want to debug for 3 days
df.reset_index(drop=True, inplace=True)

In [75]:
df

,flarea,type,bdrms,bthrms,floors,devment,ber,location,price
0,98.0,Terraced,3,2,2,SecondHand,C3,Rochestown,225
1,65.0,Apartment,2,1,1,SecondHand,E1,Blackpool,70
2,83.6,Apartment,2,2,1,SecondHand,D2,Douglas,198
3,66.5,Semi-detached,3,1,1,SecondHand,E2,Carrigrohane,190
4,92.9,Semi-detached,3,2,2,SecondHand,E1,Douglas,220
5,65.0,Apartment,2,2,1,SecondHand,D1,Rochestown,150
6,51.1,Apartment,1,1,1,SecondHand,C1,Blackrock,95
7,131.5,Semi-detached,3,2,2,SecondHand,D1,Blackrock,295
8,88.0,Terraced,3,3,2,SecondHand,C3,Glanmire,175
9,92.9,Terraced,3,3,2,SecondHand,C3,Rochestown,195
10,112.4,Semi-detached,3,2,2,SecondHand,C2,Blackrock,225
11,110.9,Terraced,3,3,2,SecondHand,C1,Donnybrook,230
12,223.0,Detached,4,3,2,SecondHand,B2,Banduff,265
13,222.0,Detached,5,4,2,SecondHand,B3,Waterfall,590
14,158.0,Terraced,4,2,2,SecondHand,F,Blackrock,250
15,120.0,Terraced,4,2,2,SecondHand,D2,CityCentre,100
16,97.0,Semi-detached,3,1,2,SecondHand,E2,Ballintemple,265
17,80.7,Semi-detached,3,1,2,SecondHand,C2,Donnybrook,190
18,51.1,Terraced,2,1,2,SecondHand,F,CityCentre,60
19,185.8,Terraced,4,1,2,SecondHand,E2,CityCentre,280
20,51.0,Terraced,3,1,2,SecondHand,G,StLukes,55
21,88.0,Terraced,3,1,2,SecondHand,D2,Ballinlough,195
22,62.8,Semi-detached,3,1,2,SecondHand,G,Gurranabraher,95
23,241.0,Semi-detached,4,3,2,SecondHand,D1,Blackrock,995
24,185.8,Terraced,8,5,2,SecondHand,G,StLukes,225
25,69.7,Terraced,3,1,2,SecondHand,G,Farranree,80
26,81.0,Terraced,3,1,2,SecondHand,C3,Douglas,255
27,50.0,Terraced,2,1,2,SecondHand,E2,Blackpool,70
28,60.0,Apartment,2,1,1,SecondHand,C1,CityCentre,155
29,190.5,Detached,4,3,2,SecondHand,E1,Blackrock,550
...,...,...,...,...,...,...,...,...,...
177,408.8,Detached,7,4,2,SecondHand,C2,Montenotte,950
178,223.0,Detached,4,4,2,SecondHand,B2,Ballyvolane,265
179,88.0,Terraced,3,2,2,SecondHand,C3,CityCentre,185
180,224.0,Apartment,3,6,2,SecondHand,B2,Blackpool,350
181,74.3,Terraced,3,1,2,SecondHand,G,CityCentre,230
182,92.2,Terraced,3,1,2,SecondHand,C1,Mayfield,149
183,204.4,Terraced,8,5,2,SecondHand,G,CityCentre,245
184,106.8,Terraced,3,2,2,SecondHand,C3,Bishopstown,180
185,130.0,Semi-detached,4,1,2,SecondHand,F,Glasheen,350
186,465.0,Detached,6,6,2,SecondHand,E1,Rochestown,675
187,65.0,Semi-detached,2,1,2,SecondHand,E2,Ballyphehane,165
188,161.0,Detached,3,2,2,SecondHand,G,Douglas,350
189,178.0,Detached,5,3,2,SecondHand,F,Douglas,535
190,81.8,Terraced,4,2,2,SecondHand,C3,CityCentre,135
191,170.0,Detached,4,4,2,SecondHand,D1,Douglas,530
192,99.0,Semi-detached,3,1,2,SecondHand,F,Silversprings,150
193,122.6,Semi-detached,3,3,2,SecondHand,B3,Glanmire,220
194,91.0,Semi-detached,3,1,2,SecondHand,F,CityCentre,220
195,60.0,Terraced,3,1,2,SecondHand,F,CityCentre,140
196,90.0,Detached,3,2,2,SecondHand,D2,Grange,200
197,111.5,Detached,3,2,1,SecondHand,D2,Ovens,275
198,158.0,Semi-detached,5,2,2,SecondHand,C3,Douglas,279
199,117.0,Apartment,2,3,2,SecondHand,B3,Rochestown,225
200,92.9,Terraced,5,2,2,SecondHand,G,WesternRoad,195
201,185.8,Detached,4,1,2,SecondHand,E1,Grange,385
202,108.0,Detached,3,2,1,SecondHand,E1,Glanmire,250
203,232.3,Detached,4,3,2,SecondHand,F,Bishopstown,400
204,67.0,Apartment,2,2,1,SecondHand,B3,Blackrock,150
205,86.6,Semi-detached,3,2,2,SecondHand,E2,CityCentre,179
206,95.0,Terraced,4,1,2,SecondHand,E1,Blackpool,150

<h1>Exercise</h1>
using pandas answer the big question: are Thamves Valley Police racist?

In [ ]:
df = pd.read_csv('datasets/dataset_stop_and_searchB.csv')